body {
    background-color: #f0f0f0;
}
hr {
    margin: 0;
}
h3  {
    text-align: center;
    color: black;
}
header .phone-number{
    background-color: white;
    color: #1DB176;
    padding: 5px;
}
header .navigation{
    padding: 0;
    background-color: #1DB176;
    color: white;
    text-align: center;
}
header .navigation li {
    padding:  2rem;
}
header .navigation li:first-child {
    padding:  2rem;
    border-bottom : solid white 5px;
}
.company-logo {
    width: 19.2%;
    display: inline-block;
    margin: 0;
}
.company-logo:hover {
    box-shadow: #666 0px 0px 10px;
    background: #EEFF99;
}
.company-logo img {
    width: 100%;
    height: 100%;
}
.description {
    font-size:  2rem;
    color: #9d9d9d;
    display: table ;
    height: 20rem;
    overflow: hidden;
}
.description div  {
    display: table-cell;
    height: 100%;
}
.description .green{
    color: green;
}
.description #people-friend {
    border-right: dashed  gray 3px;
}
.body .row {
    margin: 5rem 0;
}
.well-learner-father {
    overflow: hidden;
}
.well-learner .well-learner-page{
    margin: 2px;
    line-height: 2.5rem;
    background-color: white;
    padding:  2rem;
    border-radius: 10px;
    color: #9d9d9d;
}
.well-learner .well-learner-page:hover     {
    box-shadow: #666 0px 0px 10px;
}
.well-learner .well-learner-page  h3 {
    margin: 4rem 0 2rem 0;
}
.well-learner .four-circle {
}
.well-learner .four-circle .little-circle {
    width: .8em;
    height: .8em;
    border-radius: 50%;
}

.well-learner  .four-circle  .green-circle {
    background-color: green;
}

.well-learner  .four-circle .gray-circle {
    background-color: #9d9d9d;
}

.well-learner   .four-circle .div-circle {
    display: inline;
}
.well-learner   .four-circle .div-circle button{
    border: none;
    outline:none;
}
.how-to-learn .row {
    font-size: 1.2rem;
}
.how-to-learn .table-father {
    /*display: table;*/
}
.how-to-learn .table-son {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.how-to-learn .number-circle {
    background : white ;
    display: table;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color:   #1DB176;
    box-shadow: #666 0px 0px 2px;
    margin: 2px;
}
.parent {
    display:flex;
    justify-content:center;
    align-items:center;
}
.child{
    display: inline-block;
}
.center-text {
    width: 9%;
    color: gray;
    display: inline-block ;
    margin: 0;
    overflow: hidden;
    font-weight:bold
}
.center{
    padding: 0;
    width: 100%;
}
footer .friendly-link {
    background-color: white;
}
footer .QR-code {
    padding: 2rem 0 0 0;
    background-color:  #1DB176;
    color: white;
}
.nav li  a {
    color: white;
    background: transparent
}