
body {
  background-color: #f0f0f0;
  hr {
    margin: 0;
  }
  h3  {
    text-align: center;
    color: black;
  }
  p{
    line-height: 3rem;
  }
   .body .row {
    margin: 2rem 0;
  }



  .corporation  {
    background: white;
    box-shadow: #f0f0f0  3px;
    margin-bottom: 1rem ;
    margin-top: 1rem ;
    border-radius: 5px;
    p {
      padding: 1em;
    }
    .corporation-head {
      display: block;
      overflow: hidden;
      border-bottom: solid #f0f0f0 1px;
    }
  }
  .little-circle {
    display: inline-block;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background: transparent;
    border: solid 1px orange;
  }
}

.center {
  text-align: center;
}




