
header {
  .phone-number {
    background-color: white;
    color: #1DB176;
    padding: 5px;
  }

  @media all and (max-width: 426px ) {
    .phone-number{
      background-color: white;
      color: #1DB176;
      padding: 5px 20px;
    }
  }
  .navigation{
    padding: 0;
    background-color: #1DB176;
    color: white;

    .pull-right div {
      height: 100%;display: inline-block; padding: 1rem;
    }
    #child {
      border-bottom: solid white 5px;
    }
    .pull-left {
      padding-left: 1rem;
    }
    @media all and (max-width: 767px ) {
      .pull-right {
        padding-right: 2rem;
        div {
          height: 100%;display: inline-block; padding: .1rem;
        }
      }
    }
  }
  @media all and (max-width: 767px ) {
    #jnshu-logo {
      height: 28px;
    }
  }

}
